USE [master]
GO
/****** Object:  Database [Maravillas]    Script Date: 06/07/2020 18:07:06 ******/
CREATE DATABASE [Maravillas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Maravillas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Maravillas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Maravillas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Maravillas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Maravillas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Maravillas]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/07/2020 18:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dniUsuario] [int] NOT NULL,
	[nombreUsuario] [nvarchar](50) NOT NULL,
	[apellidoUsuario] [nvarchar](50) NOT NULL,
	[correoUsuario] [nvarchar](50) NOT NULL,
	[generoUsuario] [nchar](10) NOT NULL,
	[contraseñaUsuario] [nchar](10) NOT NULL,
	[fechNacimientoUsuario] [datetime] NOT NULL,
	[pais] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO