@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Maravillas del Perú</h1>
    <p class="lead">¡Experimenta una nueva aventura a lo peruano!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empieza a vivir una nueva aventura</h2>
        <p>
            La cultura del Perú, es la cultura creada a partir de costumbres, prácticas, códigos, normas, formas de vida y tradiciones existentes en la sociedad peruana. 
            Es lo que le da una identidad nacional al Perú.
        </p>
        <p><a class="btn btn-primary btn-lg" href="/Reservas/">Reserva tu Viaje aquí &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Miles de nuevos destinos</h2>
        <p>Dentro del contexto mundial, la cultura peruana siempre ha presentado características especiales, entre las que se pueden mencionar la geografía dificil, un
        proceso milenario, valores y legados culturales y fusión de colores y sonidos.</p>
        <p><a class="btn btn-primary btn-lg" href="/ReservasHotel/">Reserva tu Hotel aquí &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cultura popular</h2>
        <p>Música popular, andina, crilla y afroperuana, danzas y bailes, artesanía y comidas maravillosas.</p>
        <p><a class="btn btn-primary btn-lg" href="/Reservas/">Vive la aventura &raquo;</a></p>
    </div>
</div>